/* Universal Selector */
* {
    color: green
}
/* Type Selector */
h1, h2 {
    color: blueviolet;
}
/* Class Selector */
.sub-head{
    background-color: yellow;
}
/* Id Selector */
#lal {
    color: red;
}
/* Child Selector */
li>span {
    font-weight: bold;
    font-size: 30px;
    color: brown;
}
/* Decendant Selector */
ul li {
    font-style: italic;
}
/* Adjacent Sibling Selector */

ul+h2 {
    color: blue;
}
/* General Sibling Selector */
h2~p{
    color: darkred;
}